server:
  port: 8080

spring:
  profiles:
    active: local

  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

deeplink:
  crypto:
    key: "CHANGE_THIS_32BYTE_KEY__________1234"

logging:
  config: classpath:logback-spring.xml
  level:
    org.hibernate.SQL: info
